APP_NAME="MS. Thesis"
ENVIRONMENT=dev
DATABASE_URL=sqlite:///server/data/app.db
TEMPLATE_DIR=server/app/templates
APP_PASSWORD=change-me
APP_AUTH_SECRET=change-this-secret
MOZILLA_DATA_COLLECTIVE_API_KEY=change-me
